body {
    background-color: #0a113a;
}

h1 {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 31.25px;
    line-height: 37px;
    text-align: center;

    color: #293264;
}


h2 {
    max-width: 550px;

    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #293264;

    margin-top: 15px;
    margin-bottom: 12px;
}

h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

hr {
    margin: 0px;
    border: 0.794239px solid #DBDEF0;
}

fieldset {
    margin: 20px 0;
    display: flex;
    justify-content: space-around;
}

input[type="radio"] {
    margin: 0 7px 0 0;
}

input[type='number'] {
    width: 40px;
}


.challenge-options-container {
    width: 300px;

    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: center;

    color: #293264;
}

.loadingContainer {
    display: flex;
    justify-content: center;
}

.quizzical-container {
    width: 750px;
    margin: auto;
    background-color: #F5F7FB;
    padding: 25px;
}



.answer {
    box-sizing: border-box;
    min-width: 65px;
    height: 27px;

    border-radius: 7.71045px;
    margin: 0px 13px 15px 0;

    padding: 4px 7px;
}

.free {
    border: 0.771045px solid #4D5B9E;
    background-color: #F5F7FB;
}

.selected {
    background: #D6DBF5;
    border: none;
}

.true {
    background: #94D7A2;
    border: none;
}

.false {
    background: #F8BCBC;
    border: none;
}

.button-container {
    text-align: center;
}

.score {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12.8px;
    line-height: 15px;
    text-align: center;

    color: #293264;

    margin-right: 20px;
}

.button {
    margin-top: 20px;
    margin-right: 20px;
    background: #4D5B9E;
    border-radius: 10px;
    padding: 10px 20px;
    border: none;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: #F5F7FB;
}

.welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.option {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}

.numberQuestionsContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}